.carosselle-container {
    max-width: 1800px;
    margin: auto;
    padding: 80px;
    position: relative;
  }
  .carosselle-slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
    .slick-prev, .slick-next {
    z-index: 1;
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 40px;
    line-height: 1;
    color: #333;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
  }
  

 

  
  